body{
    background-color: rgb(231, 250, 228);
}
#boton{
    height: 40px;
    font-size: 19px;
}

.list-group-item .fa-trash {
    display: none;
}
.list-group-item:hover .fa-trash {
    display: block;
}

.list-group-item:hover .fa-trash:hover {
    color:red;
}
